# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="postgresql://neondb_owner:npg_CL9HwSi6pdWz@ep-white-waterfall-a8z2pt85-pooler.eastus2.azure.neon.tech/neondb?sslmode=require"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cHJlbWl1bS1jYXJpYm91LTgxLmNsZXJrLmFjY291bnRzLmRldiQ

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
UPLOADTHING_TOKEN="eyJhcGlLZXkiOiJza19saXZlX2NmYmQ5ZDJlYTIzODdjMTA2OGE2Njk3MmYxYjFjNzFlYTFiODljZmRhMzc1Y2M1ZjNhMTVhM2VhMjU3MzE4ZjEiLCJhcHBJZCI6InBlMGVsOW05OXIiLCJyZWdpb25zIjpbInNlYTEiXX0="
NEXT_PUBLIC_POSTHOG_KEY=phc_JcPRXddm7CkKvrkaH7uVGrvu1cpUagWJ1pm3N9xssV
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com